.power {
	margin-top: 20px;
	padding: 15px 20px;
	background-color: white;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	font-weight: 300;
	font-size: 25px;
	line-height: 32px;
	color: #1d71b8;
	display: inline-block;
}

.career {
	img {
		display: block;
		width: 252px;
		height: 29px;
	}
}

.careerBox {
	padding: 90px 0 143px;

	&__wrapper {
		height: 60vh;
		max-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.careerBox p {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #323232;
	margin-bottom: 20px;
	margin-top: 65px;
}

.careerBox .myCareerSearch {
	overflow: hidden;
	position: relative;
	display: flex;
	max-width: 600px;
	height: 54px;
	background: #ffffff;
	border-radius: 8px;
	margin-bottom: 86px;
}

.careerBox input {
	border: 1px solid #1d71b8;
	border-radius: 8px;
	padding: 16px;
	width: 100%;
	height: 100%;
	font-size: 18px;

	&::placeholder {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #808080;
	}
}

.careerBox button {
	top: 0;
	right: 0;
	position: absolute;
	width: 90px;
	height: 54px;
	border: none;
	background-color: #1d71b8;
	border-radius: 8px;
}

.careerBox h3 {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #343434;
}

.marketBox {
	&_Wrapper {
		display: flex;
		gap: 13px;
	}
}

.eachBox {
	width: 120px;
	height: 40px;
	color: white;
	background: #0e0e0e;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.eachBox img {
	width: 35px;
	height: 35px;
	margin-right: 2px;
}

.eachBox p {
	margin-bottom: 0px;
	font-size: 8px;
	color: white;
	margin-top: -8px;
}

.eachBox h2 {
	font-size: 12px;
	margin: 0;
	margin-top: -10px;
}

@media only screen and (max-width: 1456px) {
	.power {
		margin-top: 20px;
		max-width: 470px;
		padding: 10px 15px;
		font-size: 25px;
		line-height: 33px;
	}

	.career {
		img {
			width: 197px;
			height: 24px;
		}
	}

	.careerBox p {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
	}

	.careerBox .myCareerSearch {
		display: flex;
		max-width: 500px;
		height: 40px;
	}

	.careerBox input {
		width: 100%;
		height: 100%;
		font-size: 15px;

		&::placeholder {
			font-size: 15px;
		}
	}

	.careerBox button {
		width: 70px;
		height: 44px;
	}

	.careerBox h3 {
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
	}

	.eachBox {
		width: 117px;
		height: 40px;
	}

	.eachBox img {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.eachBox p {
		margin-bottom: 4px;
		font-size: 8px;
		margin-top: -5px;
	}

	.eachBox h2 {
		font-size: 10px;
	}
}
@media only screen and (max-width: 1360px){
	.power {
		font-size: 21px;
	}
	.career {
		img {
			width: 190px;
			height: 24px;
		}
	}
	.careerBox .myCareerSearch {
		max-width: 472px;
	}
	.careerBox p {
		font-size: 17px;
	}
	.eachBox p {
		font-size: 8px;
	}

}
@media only screen and (max-height: 600px) {
	.careerBox {
		padding-top: 60px;
	}
}

@media only screen and (max-height: 560px) {
	.careerBox {
		padding-top: 50px;
	}
}
