
.allBackground {
  padding-top: 15px;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  background-color: E5E5E5;
  backdrop-filter: blur(10px);
  overflow-y: hidden;
}

.allBackground_inner {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.round {
  position: fixed;
  margin-left: -83rem;
  margin-top: 8rem;
  z-index: -1;
  left: 3%;
  top: 40%;
}

.backSign {
  width: 100%;
  max-width: 215px;
  padding-top: 30px;
}

.backSign_btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backSign a {
  color: rgb(50, 50, 50);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
}

.backSign img {
  margin-right: 0.5rem;
}

.cards {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.card_box {
  position: absolute;
  background: white;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.6s linear;
  overflow: hidden;
}

.career {
  padding-top: 30px;
  box-sizing: border-box;
}

@media only screen and (max-width: 2050px) {
  .card_box {
    padding: 30px;
  }
}

@media only screen and (max-width: 1600px) {
  .card_box {
    padding: 30px;
  }
}

@media only screen and (max-width: 1464px) {
  .card_box {
    max-width: 680px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1410px) {
  .card_box {
    max-width: 650px;
    padding: 15px;
  }
}

@media only screen and (max-width: 1212px) {
  .allBackground_inner {
    gap: 25px;
  }
  .card_box {
    max-width: 600px;
  }
}

@media only screen and (max-width: 1080px) {
  .backSign {
    width: 100%;
    max-width: 180px;
    padding-top: 50px;
  }
  .allBackground_inner {
    gap: 10px;
  }
}

@media only screen and (max-width: 1012px) {
  .backSign {
    width: 100%;
    max-width: 130px;
    padding-top: 50px;
  }
  .allBackground_inner {
    gap: 10px;
  }
}
