.freelancer {
  height: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  &_talants_container {
    width: 64%;
  }
  &_container {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 70px;

    &_outline {
      position: relative;

      &_inp {
        box-sizing: border-box;
        width: 100%;
        height: 47px;
        background: #ffffff;
        border: 1px solid #1d71b8;
        border-radius: 8px;
        padding: 0 20px;

        font-family: "Montserrat";
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #808080;
      }

      &_btn {
        position: absolute;
        padding: 0px 33px;
        height: 100%;
        right: 0;
        background: #1d71b8;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background: rgba(29, 113, 184, 0.9);
          transition: 0.3s;
        }
      }
    }

    &_round {
      position: absolute;
      top: 300px;
      right: -141px;
      z-index: -99;
    }
  }
}

.black-window {
  // height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1700px) {
  .freelancer {
    &_container {
      &_outline {
        &_inp {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .freelancer {
    &_container {
      &_outline {
        &_inp {
          padding: 10px 20px;
        }
      }
    }
  }
}
