.freelancermodal {
  transition: 2s;
  padding: 40px 50px;
  position: absolute;
  top: -183px;
  right: 0;
  background-color: #f5f5f7;
  width: 1665px;
  z-index: 213123;
  display: flex;
  gap: 50px;
  &_img {
    background-color: #f5f5f7;
    position: absolute;
    width: 96px;
    height: 84px;
    border-radius: 8px;
    top: 0;
    left: -84px;

    & svg {
      margin: 15px;

      &:hover {
        background: #1d71b8;
        border-radius: 6px;
        transition: 0.3s;
        cursor: pointer;

        & path {
          stroke: white;
        }
      }
    }
  }

  &_left {
    padding-right: 50px;
    border-right: 1px solid rgb(205, 205, 205, 0.5);
    // border: 1px solid #000;

    &_list {
      display: flex;
      align-items: center;
      gap: 20px;

      &_item {
        position: relative;

        &_title {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          text-align: center;
          color: #323232;
          margin-bottom: 15px;
        }
        & progress {
          top: 29px;
          position: absolute;
          width: 123px;
        }

        &_info {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #808080;
        }
      }

      &_item1 {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 30px;

        &_img {
          width: 90px;
          height: 90px;
        }

        & h4 {
          margin-bottom: 5px;
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 30px;
          line-height: 37px;
          color: #323232;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        & p {
          display: flex;
          align-items: center;
          gap: 15px;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 25px;
          line-height: 30px;
          color: #323232;

          & span {
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #323232;
          }
        }
      }

      &_item2 {
        padding-right: 20px;
        border-right: 1px solid rgb(205, 205, 205, 0.5);
      }
    }

    &_info {
      margin-top: 30px;
      max-width: 830px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      text-align: justify;
      letter-spacing: 0.05em;
      color: #000000;
    }

    &_title {
      margin-top: 30px;
      margin-bottom: 20px;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #323232;
    }

    &_wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 60px;
      margin-bottom: 30px;
      padding-bottom: 5px;

      &_item {
        position: relative;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
        color: #1d71b8;
        padding-bottom: 3px;
        cursor: pointer;

        &:hover::before {
          content: "";
          height: 4px;
          width: 100%;
          border-radius: 2.5px;
          background: #1d71b8;
          display: block;
          position: absolute;
          bottom: -8.5px;
          transition: 1s;
        }
      }

      &_span {
        position: absolute;
        bottom: -4.5px;
        background-color: #fff;
        width: 419px;
        height: 5px;
        z-index: -1;
        border-radius: 15px;
      }
    }
  }

  &_right {
    &_link {
      display: flex;
      align-items: center;
      gap: 15px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: #1d71b8;
    }

    &_list {
      margin-top: 50px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 24px;

      &_item {
        & h4 {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          text-align: center;
          color: #323232;
        }

        & p {
          margin-top: 6px;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #808080;
        }
      }
      &_item1 {
        padding-right: 24px;
        border-right: 1px solid rgb(205, 205, 205, 0.5);
      }
    }

    &_mainlist {
      &_item {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid rgb(205, 205, 205, 0.5);
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h4 {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          color: #323232;
        }

        & span {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #323232;
        }

        &_h5 {
          margin-top: 10px;
        }

        & h5 {
          display: flex;
          align-items: center;
          gap: 6px;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #323232;
          max-width: 380px;
        }

        & h6 {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #808080;
        }

        & b {
          display: inline-block;
          padding: 6px 10px;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #1d71b8;
          background: #ffffff;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
          border-radius: 6px;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
 
}
