.add_project {
  // position: absolute;
  // top: 100px;
  // right: 600px;
  // z-index: 2;
  // box-sizing: border-box;
  // padding: 30px;
  // border-radius: 12px;
  // width: 730px;
  // background: #FFFFFF;
  // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  &_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #323232;
    margin-bottom: 30px;
  }

  &_input {
    width: 100%;
    height: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #808080;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%231D71B8FF' stroke-width='2' stroke-dasharray='25%2c5' stroke-dashoffset='20' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 12px;

    &_label {
      cursor: pointer;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    & span {
      color: #1d71b8;
    }

    & input {
      display: none;
    }
  }

  &_listimages {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    &_item {
      width: 160px;
      height: 90px;
      border: 1px solid #cdcdcd;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > img {
        max-width: 160px;
        max-height: 90px;
        object-fit: cover;
      }
    }
  }

  &_list {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &_title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #323232;
      }

      &_input {
        width: 93%;
        padding: 15px 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #323232;
        background: #ffffff;
        border: 1px solid #cdcdcd;
        border-radius: 8px;
        cursor: pointer;
      }

      & textarea {
        overflow: auto;
        resize: none;
        vertical-align: top;
      }

      &_wrapper {
        position: relative;

        &_div {
          transition: 0.3s all;
          transform: rotate(0deg);
          margin-right: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(29, 113, 184, 0.1);
          border-radius: 6px;
          right: 0;
          width: 24px;
          height: 24px;
          cursor: pointer;

          &:hover &_img {
            transform: rotate(180deg);
            transition: 0.3s;
          }
        }

        &_img {
          margin-right: 20px;
          position: absolute;
          top: 15px;
          right: 0;
          cursor: pointer;
        }

        &_img:hover {
          transform: rotate(180deg);
          transition: 0.3s;
        }
      }
    }
  }

  .freelanceravailable_wrapper {
    display: flex;
    justify-content: end;
    gap: 20px;

    &_btn,
    &_btn1 {
      padding: 10px 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #323232;
      border: none;
      background-color: transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s all;
      border: 1px solid transparent;
    }

    &_btn:hover {
      transition: 0.2s all;
      border: 1px solid #1d71b8;
    }

    &_btn1 {
      border-color: #1d71b8;

      &:hover {
        transition: 0.2s all;
        color: #ffffff;
        background-color: #1d71b8;
      }
    }
  }
}
