html { 
    overflow: scroll;
    
    ::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}

.container {
    position: relative;
}

.circleBg {
    position: relative;

    img {
        width: 600px;
        top: -330px;
        left: -72px;
        position: absolute;
        z-index: -1;
    }
}

.companyContainer{
    width: 1140px;
    margin: 0 auto;
    top: 160px;
    z-index: 7;
    display: grid;
    grid-template-columns: 630px 1px 340px;
    justify-content: space-between;
    padding: 22px 38px;
    scroll-behavior: smooth;
}

.verticalLineBreak {
    width: 1px;
    height: 100%;
    background-color: #E1E1E2;
}

.horizontalLineBreak {
    height: 1px;
    width: 100%;
    background-color: #E1E1E2;
}

.companyAbout{

    .companyAboutVideo {
        width: 100%;
        height: max-content;
        position: relative;
        margin-bottom: 22px;

        .video {
            width: 100%;
            height: auto;
        }
    
        .play {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 68px;
            height: auto;
        }
    }

}

.companyRep{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    margin-bottom: 22px;

    .repPhoto img {
        width: 68px;
        height: auto;
    }

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #323232;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        margin-bottom: 4px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
        color: #808080;
        display: flex;
        gap: 11px;

        a {
            color: #1D71B8;
        }
    }
}

.companyAboutText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.0375em;
    margin-bottom: 22px;
}

.menu__links{
    margin: 0;
    margin-bottom: 22px;
    padding-left: 0;
    display: flex;
    list-style-type: none;
    gap: 24px;
    z-index: 6;
    cursor: pointer;

    .menu__link{
        cursor: pointer;
        font-family: "Montserrat",sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #1d71b8;
        display: flex;
        border-bottom: 3px solid transparent;
        
    }
    .active{
        cursor: pointer;
        font-family: "Montserrat",sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #1d71b8;
        display: flex;
        border-bottom: 3px solid #1d71b8;
    }
}

.companyClientJobs {
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 525;
        font-size: 22px;
        line-height: 28px;
        color: #323232;
        margin-bottom: 6px;
    }

    .companyClientJob {
        width: 100%;
        border-radius: 9px;
        box-shadow: 0 2px 6px 0 rgba($color: #000000, $alpha: 0.25);
        padding: 20px 30px;
        margin-bottom: 7.5px;
        box-sizing: border-box;

        .companyClientJobRow {
            display: flex;
            justify-content: space-between;
            position: relative;

            p {
                align-self: center;
                font-size: 12px;
                color: #808080;
            }
        }

        .companyClientJobLeft {
            display: flex;
            font-family: 'Montserrat';
            gap: 15px;
            text-align: center;

            .successRate {
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: #CDCDCD;

                .rateBar {
                    width: 80%;
                    height: 100%;
                    background-color: #1D71B8;
                    border-radius: 1.5px;
                }
            }

            h3 {
                font-size: 19px;
                line-height: 19px;
                margin-bottom: 0;
                font-weight: 600;
                color: #323232;
            }

            h4 {
                color: #323232;
                font-weight: normal;
            }

            p {
                text-align: center;
            }

            .companyClientJobName {
                color: #1D71B8;
                margin-right: 7px;
            }

        }

        .companyClientJobDescription {
            display: flex;
            gap: 7.5px;
            font-size: 14px;
            line-height: 16px;
            padding: 7.5px;
            border-top: 1px solid #E1E1E2;
            border-bottom: 1px solid #E1E1E2;
            margin-top: 15px;
            margin-bottom: 11px;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .expandedText {
            display: block;
        }

    }
}

.companyClientJobRequiredSkills {
    display: flex;
    color: #808080;
    gap: 8px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 11px;
}

.compLogo {
    width: 40px;
    height: auto;
}

.verified {
    display: flex;
    gap: 4px;
}

.postedDate {
    position: absolute;
    bottom: 0;
    right: 0;
}

.seeMore {
    margin: 15px auto;
    color: #1D71B8;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
}

.companyInfo {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: #323232;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18.5px;
        line-height: 22.5px;
        margin-bottom: 15px;
    }

    .companyStats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 0;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #808080;
        }
    }

    .companyContactInfo {
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            li {
                display: flex;
                align-items: center;
                gap: 11px;
            }
        }
    }

    .companySocials {
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 7.5px;

            li {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }
}

//Company module

.background {
	position: relative;
	z-index: 1;
}

.automative {
	position: absolute;
	z-index: 2;
	margin-left: -30rem;
	margin-top: 5.5rem;
}

.career {
	position: absolute;
	z-index: 2;
	margin-left: -30rem;
	margin-top: 17rem;
}

.circleSlider {
	position: absolute;
	right: 90px;
	top: 350px;
	z-index: 2;
}

.circleSlider img {
	margin-left: 11px;
}

.dot {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	border: 4px solid #1d71b8;
	margin-top: -4px;
	transition: 0.6s all;
}

.dotactive {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 8px solid #1d71b8;
	margin-top: -8px;
	margin-bottom: -4px;
	margin-left: -10px;
}

.round1 {
	transition: 1s all;
}

.round2 {
	transition: 1s all;
	margin-left: -28rem;
	margin-top: 10.5rem;
}

.round3 {
	transition: 1s all;
	margin-left: -50rem;
	margin-top: 13rem;
}

.round4 {
	transition: 1s all;
	margin-left: 8rem;
	margin-top: 13rem;
}

.modal {
    background-color: #F5F5F7;
    width: max-content;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 58px;
    z-index: 3;
    box-shadow: 0 0 0 200px rgba($color: #000000, $alpha: 0.1);

    .closeButton {
        padding: 10px;
        width: 20px;
        height: 20px;
        z-index: 4;
        position: absolute;
        left: -52px;
        top: 10px;
        background-color: #F5F5F7;
        border-radius: 6px;
        outline: solid 10px #F5F5F7;
        border: solid 1px #1D71B8;
        box-shadow: 20px 0 0 10px #F5F5F7;
        color: #1D71B8;
    }
}