.languageCard_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.languageCard p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #808080;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nextButton,
.backButton {
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  background: #ffffff;
  padding: 1rem 2rem;
  // margin-top: 3rem;
}

.nextButton {
  border: 1px solid #1d71b8 !important;
  &:hover {
    transition: 0.3s;
    background-color: #1d71b8 !important;
    cursor: pointer;
    color: white;
  }
}

.backButton {
  border: 1px solid white !important;

  &:hover {
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #1d71b8 !important;
  }
}

.addLanguage {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #1d71b8;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  background-color: white;
  color: #1d71b8;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1d71b8;
}

.languageForm select {
  display: inline-block;
  margin-top: 1rem;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  padding: 1rem;
  box-sizing: border-box;
}

.select {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  gap: 10px;
  margin-right: 0 !important;
  box-sizing: border-box;
}

.cancelLang {
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  margin-top: 1rem;
  // text-align: center;
  padding: 11px 15px;
  img {
    margin-top: 4px;
  }
}

.select_box {
  max-height: 400px;
  // padding: 10px 0;
  // padding-left: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
  .addLanguage {
    // padding: 15px 0;
    font-size: 17px;
    line-height: 20px;
  }

  .nextButton,
  .backButton {
    font-size: 17px;
    line-height: 20px;
    padding: 15px 20px;
  }
}

.css-13cymwt-control {
  width: 100px !important ;
}
