.selectResume p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #808080;
  margin: 1rem 0;
}

.eachResume {
  width: 100%;
  display: flex;
  transition: all 0.2s linear;
}

.socialForm {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nextButton,
.backButton {
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  background: #ffffff;
  padding: 1rem 2rem;
  border: 1px solid white;
  &:hover {
    border: 1px solid #1d718b;
    cursor: pointer;
    transition: 0.3s;
  }
}

.nextButton {
  border: 1px solid #1d71b8 !important;

  &:hover {
    cursor: pointer;
    background-color: #1d71b8;
    color: #ffffff;
    transition: 0.3s;
  }
}

.resume__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 120px;
}

.pagination__box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.pagination__arrow {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination_dots {
  display: flex;
  align-items: center;
  background: #ededed;
  border-radius: 5px;
}

.pagination_dot {
  width: 42px;
  height: 10px;
  background: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: #1d71b8;
}

.slide {
  width: 330px;
  max-height: 450px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.slide_img {
  width: 330px;
  height: 100%;
  object-fit: cover;
}

.slide__active {
  border: 3px solid #1d71b8;
}

@media only screen and (max-width: 1708px) {
  .slide {
    max-height: 380px;
  }

  .slide_img {
    object-fit: inherit;
  }

  .resume__footer {
    margin-top: 25px;
    padding-left: 50px;
  }

  .nextButton,
  .backButton {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .slide {
    max-height: 330px;
  }

  .resume__footer {
    margin-top: 20px;
    padding-left: 0px;
  }

  .nextButton,
  .backButton {
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 1324px) {
  .slide {
    width: 330px;
    max-height: 350px;
  }
}

@media only screen and (max-width: 1244px) {
  .select_title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .select_desc {
    font-size: 18px;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  .resume__footer {
    margin-top: 20px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1212px) {
  .slide {
    width: 300px;
    max-height: 380px;
  }

  .slide_img {
    display: inline-block;
    width: 298px;
    object-fit: initial;
  }

  .nextButton,
  .backButton {
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 1166px) {
  .select_title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .select_desc {
    font-size: 16px;
    margin-bottom: 8px !important;
  }

  .slide {
    max-height: 340px;
  }

  .slide_img {
    display: inline-block;
    width: 298px;
    object-fit: initial;
  }
  .resume__footer {
    margin-top: 15px;
  }

  .nextButton,
  .backButton {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1080px) {
  .slide {
    max-height: 300px;
  }

  .slide_img {
    display: inline-block;
    width: 298px;
    object-fit: initial;
  }
  .resume__footer {
    margin-top: 15px;
  }
}
