.basic-multi-select {
	width: 105%;
	margin-top: 1rem;
}

.position {
	margin-top: 1rem;
}

.languageSelect {
	width: 105%;
	margin-top: 1rem;
}
.mySelectLang__value-container {
	height: 52px;
}

#test {
	display: grid;
	grid-template-columns: 5fr 5fr 1fr;
	margin-right: -2rem;
}
