.footer {
	font-family: "SF Pro Display";
	background-color: #323232;
	padding: 40px 0 0 0;
	margin-top: 50px;
	max-width: 100% !important;
	width: 100% !important;

	&__top-wrapper {
		padding-bottom: 48px;

		ul {
			list-style: none;
		}

		.footer__lists-wrapper {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			color: #fff;
			padding-left: 0;

			li {
				hr {
					width: 20px !important;
					border: none;
					height: 1px;
					background-color: #fff;
					opacity: 0.3;
					margin-top: 14px;
					margin-bottom: 20px;
					margin-left: 0;
				}

				h3 {
					text-transform: uppercase;
					font-size: 18 px;
					font-weight: bold;
				}
			}

			.item:nth-child(1) {
				width: 300px;

				p {
					text-transform: capitalize;
					margin-top: 20px;
					line-height: 24px;
				}
			}
		}
	}

	&__navigation-list {
		display: flex;
		flex-direction: column;
		grid-row-gap: 16px;
		padding: 0;

		li {
			a {
				color: #fff;
				text-transform: capitalize;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}

	&__navigation-list-last {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		grid-column-gap: 20px;
		padding-left: 0;

		li {
			a {
				width: 100%;

				img {
					object-fit: cover;
					width: 25px;
					height: 25px;
					transition: 0.2s;
				}
			}

			a:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__bottom-wrapper {
		padding: 12px 0;
		color: #fff;
		background-color: #000;
		margin-top: 40px;
	}

	#loaderToTop {
		position: absolute;
		bottom: 80px;
		right: 43px;
	}
}

@mixin media($mw: 1024px) {
	@media screen and (max-width: $mw) {
		@content;
	}
}

@include media(1140px) {
	.footer__top-wrapper {
		.footer__lists-wrapper {
			display: flex;
			.item {
				flex: 0 1;
				width: 100% !important;
			}
		}
	}
}
@include media(768px) {
	.footer__top-wrapper {
		padding-bottom: 0px;

		.footer__lists-wrapper {
			display: flex;
			flex-direction: column;

			.item {
				width: 100% !important;
			}

			.footer-menu-list {
				display: none;
			}
		}
	}
}
