@import "../../../assets/styles/ui.scss";

.login {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;

    & .login_container {
        // position: relative;
        max-width: 1450px;
        margin: 0 auto;
        padding: 0 20px;

        & .login_bg_img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10001;
            width: 748px;
        }

        & .login_container_wrapper {

            & .login_container_wrapper_logo {
                margin-top: 70px;
                width: 290px;
            }
        }
    }
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // width: 100%;
    width: 398px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;

    & .login_form_title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        color: #323232;
    }

    & .login_form_info {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #808080;
        margin-top: 5px;
        margin-bottom: 25px;

    }

    & .login_form_inp {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        background: #FFFFFF;
        border: 1px solid #CDCDCD;
        border-radius: 8px;
        box-sizing: border-box;
    }

    & .login_form_inp2 {
        width: 100%;
        margin-top: 8px;
    }

    & .login_form_btn {
        font-family: 'Montserrat';
        align-self: flex-end;
        font-style: normal;
        font-weight: 500;
        padding: 8px 18px;
        margin: 15px 0;
        max-width: 135px;
        font-size: 16px;
        line-height: 20px;
        border: none;
        color: #FFFFFF;
        background: #1D71B8;
        border-radius: 8px;
        cursor: pointer;

    }

    & .login_form_wrapper {
        border-top: 1px solid #CDCDCD;
        padding-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;


        & .login_form_wrapper_info {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #808080;
            text-align: center;
        }

        & .login_form_wrapper_socials {
            display: flex;
            align-items: center;
            gap: 30px;

            & .login_form_wrapper_socials_icon {
                width: 30px;
            }
        }
    }

}

.password_span {
    cursor: pointer;
    padding: 3px;

    top: 15px;

    border-radius: 50%;
    right: 15px;
    position: absolute;
    color: #808080;
}

.password_span {
    cursor: pointer;
    padding: 3px;

    top: 15px;

    border-radius: 50%;
    right: 15px;
    position: absolute;
    color: #808080;

    .register-danger-text {
        color: red;
        border-color: red;
        font-weight: 500;
    }

    .register-danger-input {
        color: red !important;
        border: 1px solid red !important;
    }

    .register-success {
        border: 1px solid green !important;
        color: green !important;
    }
}